@page "{id:int?}"
@model RideServiceGroup1.Web.Pages.AddRideModel
@{
    ViewData["Title"] = "Tilføj forlystelse";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>HUSK!: Billede skal være placeret i "Img" og have det samme navn som forlystelsen du opretter</h2>
<p>Kontakt en administrator for at tilføje et billede</p>

<div class="forms">
    <form method="post" asp-page-handler="@Model.PageHandler">
        @Html.AntiForgeryToken()

        <h4>@Model.RideAction</h4>
        <input asp-for="Ride.Id" hidden />
        <label asp-for="Ride.Name"></label>
        <input asp-for="Ride.Name" placeholder="Skriv navn på forlystelse" autofocus value="@Model.Ride.Name" /><br />
        
        <label asp-for="Ride.Description"></label>
        <input asp-for="Ride.Description" placeholder="Skriv beskrivelse" value="@Model.Ride.Description" /><br />

        <label asp-for="Ride.Category"></label>

        <select asp-for="Ride.Category.Id">
            @foreach (RideCategory cat in Model.Categories)
            {
                if (Model.Ride?.Category?.Name == cat.Name)
                {
                    <option value="@cat.Id" selected>@cat.Name</option>
                }
                else
                {
                    <option value="@cat.Id">@cat.Name</option>
                }

            }
        </select><br />
        <input type="submit" value="@Model.RideAction" />
    </form>
</div>
