@page
@model RideServiceGroup1.Web.Pages.CategoriesModel;
@{
    ViewData["Title"] = "Kategorier";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Kategorier</h3>
<div class="forms">
    <form method="get">
        <h4>Søg efter kategori</h4>
        <label asp-for="SearchInput"></label>
        <input asp-for="SearchInput" /><br />

        <input type="submit" />
    </form>

    <form method="post">
        <h4>Opret kategori</h4>
        <p>@Model.ErrorMsg</p>
        @Html.AntiForgeryToken()
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" required/><br />

        <label asp-for="CategoryDescription"></label>
        <input asp-for="CategoryDescription" required/><br />

        <input type="submit" />
    </form>
</div>
<div class="categoryWrapper">
    @foreach (RideCategory rideCategory in Model.Categories)
    {
        <a href="@Model.GetUrl(rideCategory.Id)">
            <h3>@rideCategory.Name</h3>
            <p>@rideCategory.Description</p>
        </a>
    }
</div>