@page "{id}"
@using RideServiceGroup1.DAL;
@using RideServiceGroup1.Entities;
@using RideServiceGroup1.Entities.Utility;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";

    var id = Int32.Parse((string)RouteData.Values["id"]);
    RideRepository rideRepository = new RideRepository();
    Ride ride = rideRepository.GetById(id);
}

<h1>Detailjer for: @ride.Name ID: @ride.Id</h1>
<div class="wrapper">
    <article>
        <div class="rideWrapper">
            <p>Kategori: @ride.Category.Name</p>
            <p>Beskrivelse: @ride.Description</p>
            <p>Nedlukninger: @ride.NumbersOfShutdowns()</p>
            <p>Dage siden sidste nedlukkelse: @ride.DaysSinceLastShutdown()</p>
            <br />
            <br />
            <h1>REPORTER</h1>
            @foreach (Report report in ride.Reports)
            {
                <p>Tid: @report.ReportTime</p>
                <p>Status: @report.Status.Translate()</p>
                <p>Note: @report.Notes</p>
                <br />
            }
        </div>
    </article>
</div>
