@page "{id}"
@using RideServiceGroup1.DAL;
@using RideServiceGroup1.Entities;
@using RideServiceGroup1.Entities.Utility;
@model RideServiceGroup1.Web.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>Detailjer for: @Model.Ride.Name ID: @Model.Ride.Id</h1>
<div class="wrapper">
    <article>
        <div class="detailWrapper">
            <img src="@Model.Ride.Url" alt="@Model.Ride.Name" />
            <div>
                <p>Kategori: @Model.Ride.Category.Name</p>
                <p>Beskrivelse: @Model.Ride.Description</p>
                <p>Nedlukninger: @Model.Ride.NumbersOfShutdowns()</p>
                <p>Dage siden sidste nedlukkelse: @Model.Ride.DaysSinceLastShutdown()</p>
            </div>
        </div>
        @if (Model.Ride.Reports.Count > 0)
        {
            <h2>REPORTER</h2>
            <div class="reportWrapper">
                @foreach (Report report in Model.Ride.Reports)
                {
                    <div class="report">
                        <p>Tid: @report.ReportTime</p>
                        <p>Status: @report.Status.Translate()</p>
                        <p>Note: @report.Notes</p>
                    </div>
                }
            </div>
        }

    </article>
</div>
