@page
@using RideServiceGroup1.Entities;
@using RideServiceGroup1.Entities.Utility;
@model RideServiceGroup1.Web.Pages.indexModel
@{
    ViewData["Title"] = "index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Fårup sommerland</h1>
<div class="wrapper">
    <article>
        <div class="rideWrapper">
            @*<a href="/">
                <div class="rides">
                    <h2>Hvirvelvinden</h2>
                    <img src="~/Img/hvirvelvinden.jpg" alt="hvirvelvinden" />
                    <p><i class="fas fa-dot-circle broken"></i>I stykker</p>
                </div>
            </a>
            <a href="/">
                <div class="rides">
                    <h2>Hvirvelvinden</h2>
                    <img src="~/Img/hvirvelvinden.jpg" alt="hvirvelvinden" />
                    <p><i class="fas fa-dot-circle beingRepaired"></i>Bliver lavet</p>
                </div>
            </a>
            @for (int i = 0; i < 4; i++)
            {
                <a>
                    <div class="rides">
                        <h2>Hvirvelvinden</h2>
                        <img src="~/Img/hvirvelvinden.jpg" alt="hvirvelvinden" />
                        <p><i class="fas fa-dot-circle working"></i>Virker</p>
                    </div>
                </a>
            }*@
            @foreach (Ride ride in Model.Rides)
            {
                <a href="/">
                    <div class="rides">
                        <h2>@ride.Name</h2>
                        <img src="@ride.Url" alt="@ride.Name" />
                        <p>@ride.Description.ToShortText(50)</p>
                        <p><i class="fas fa-dot-circle @ride.Status"></i>@ride.Status.Translate()</p>
                    </div>
                </a>
            }
        </div>
    </article>
</div>

