@page
@using RideServiceGroup1.Entities;
@using RideServiceGroup1.Entities.Utility;
@model RideServiceGroup1.Web.Pages.IndexModel
@{
    ViewData["Title"] = "index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <span class="input"><i class="FONTAWESOMEICEOn"></i></span>
    <p>Søg</p>
    <select>
        <option value="name">Navn</option>
        <option value="categori">Kategori</option>
        <option value="status">Status</option>
    </select>
    <input type="text" id="Search" placeholder="Search" class="search-bar"/>
</div>

<h1>Fårup sommerland</h1>
<div class="wrapper">
    <article>
        <div class="rideWrapper">
            @foreach (Ride ride in Model.Rides)
            {
                <a href="/Details/@ride.Id">
                    <div class="rides">
                        <h2>@ride.Name</h2>
                        <img src="@ride.Url" alt="@ride.Name" />
                        <p>@ride.Description.ToShortText(50)</p>
                        <p class="@ride.Status.LowercaseStatus()"><i class="fas fa-dot-circle "></i>@ride.Status.Translate()</p>
                    </div>
                </a>
            }
        </div>
    </article>
</div>